<mat-toolbar color="primary" >
    <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
    </button>
    <span>Ventas</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Inicio</button>
    <button mat-button>Prodcutos</button>
    
    <input  placeholder="Buscar..." (change)="filtro($event)">
    
    
    <button (click)="badgevisibility()" mat-icon-button>
        <mat-icon aria-hidden="false" matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible"
        matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="" mat-button><mat-icon>listall</mat-icon> Compañias</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="/clientes" mat-button><mat-icon>listall</mat-icon> Clientes</button>
            </mat-list-item>

            <mat-list-item>
                <button routerLink="" mat-button><mat-icon>inventory</mat-icon> Productos</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="" mat-button><mat-icon>listall</mat-icon> Inventario</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">


        </div>
    </mat-drawer-content>
</mat-drawer-container>